@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background-image: url(https://uploads-ssl.webflow.com/63ca2acc6352c221abe583d0/64b61245caee62e2e74575b7_hero-background.png), radial-gradient(circle, #fff, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0)),
    url(https://uploads-ssl.webflow.com/63ca2acc6352c221abe583d0/64171d795aac65d09591f6b9_Grid%20Background-%20Section%201.svg);
  background-position: 50% 100%, 0 0, 0 0;
  background-repeat: no-repeat, repeat, repeat;
  background-size: contain, auto, auto;
}
